body
  div(style='background-color: #eb5724; padding-bottom: 35px;')
    div(style="text-align:center; padding: 10px 0")
      h3(style='color: #fff') [QUp_Mail_Report] [#{serverName}] [NewCC] Keep calm! Something went wrong
    div(style="width: 75%; margin: 0 auto; padding:25px; background-color:white;")
      block content
